// form color and borders

$form-color: #faf8fa;
$form-border-raius: 5px;
$form-border-shodow: 0px 0px 10px rgba(0, 0, 0, 0.1);

// button

$hover-border-color: #80bdff;
$hover-box-shodow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);

// Gradient mixin
@mixin linear-gradient($direction, $color-stops...) {
    background-image: linear-gradient($direction, $color-stops);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.container {


    .col-md-6 {
        background-color: $form-color;
        padding: 20px;
        border-radius: $form-border-raius;
        box-shadow: $form-border-shodow;


        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        form {

            button {
                @include linear-gradient(to right, #367c96, #47bae4);
                margin-top: 5%;
                margin-left: 50%;
                width: 100%;
                transform: translate(-50%, -50%);
                outline: none;
                overflow: hidden;
                cursor: pointer;

                .btn-ripple {
                    background: rgba(255, 255, 255, 0.3);
                    position: absolute;
                    border-radius: 50%;
                    animation: ripple 1s;
                    transform: scale(0);
                }

                @keyframes ripple {
                    100% {
                        transform: scale(2);
                        opacity: 0;
                    }
                }
            }
        }

        p.text-center {
            margin-top: 10px;
        }
    }
}

.active {
    display: none;

}

.popup {
    position: absolute;
    top: 10%;
    left: 45%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
    opacity: 0;
    animation: fadeInOut 3s forwards;
}



@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0;
    }

    10%,
    90% {
        opacity: 1;
    }
}